#####################################################################
# PRINT_START
#####################################################################
[gcode_macro PRINT_START]

gcode:
 # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}

  LEDS_OFF                                  ; Turn off LEDs
  SET_LED_EFFECT EFFECT=fire                ; Set LED effect to simulate fire
  M104 S{hotendtemp}                        ; Set hotend temperature to the desired value
  M140 S{bedtemp}                           ; set bed temperature
  G28                                       ; Home all axes
  SMART_PARK
  M190 S{bedtemp}                           ; Wait for bed to reach the target temperature
  M109 S{hotendtemp}                        ; Wait for hotend to reach the target temperature
  LINE_PURGE                                ; Execute custom line purge
  STOP_LED_EFFECTS                          ; Stop any ongoing LED effects
  SET_LED_EFFECT EFFECT=printing            ; Set LED effect to indicate printing


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   M107
   TURN_OFF_HEATERS
   PAUSE
   BASE_CANCEL_PRINT
   
#####################################################################
# M106
#####################################################################
[gcode_macro M106]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

#####################################################################
# M107
#####################################################################
[gcode_macro M107]
gcode:
    SET_FAN_SPEED FAN=fan2 SPEED=0
    SET_FAN_SPEED FAN=fan0 SPEED=0
    

#####################################################################
# PRINT_END
#####################################################################
[gcode_macro PRINT_END]

gcode:
    STOP_LED_EFFECTS FADETIME=0.4
    SET_LED_EFFECT EFFECT=spotlight   ; Enable LEDS
    G91                             ; Relative motion
    G0 Z10                          ; Move bed down slightly 
    TURN_OFF_HEATERS
    M18                             ; Disable steppers
    M107                            ; Disable aux & part cooling

#####################################################################
# ONLY_HOME_IF_NEEDED
#####################################################################
[gcode_macro G28]

rename_existing: G28.1
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28.1
    {% endif %}


#####################################################################
# TEST_SPEED
#####################################################################
[gcode_macro TEST_SPEED]

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = printer.toolhead.axis_minimum.y + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small patternbox
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
  
[gcode_macro LEDS_ON]
gcode:
    LEDS_OFF
    SET_LED_EFFECT EFFECT=printing FADETIME=0.6
    SET_LED_EFFECT EFFECT=screenidle FADETIME=0.6

[gcode_macro FLASHBANG]
gcode:
    LEDS_OFF
    SET_LED_EFFECT EFFECT=flashbang FADETIME=0

[gcode_macro RAINBOW]
gcode:
    LEDS_OFF
    SET_LED_EFFECT EFFECT=rainbow FADETIME=0.6
    

[gcode_macro FIRE]
gcode:
    LEDS_OFF
    SET_LED_EFFECT EFFECT=fire FADETIME=0.6
    

[gcode_macro SPOTLIGHT]
gcode:
    LEDS_OFF
    SET_LED_EFFECT EFFECT=spotlight FADETIME=0.6
    SET_LED_EFFECT EFFECT=screenidle FADETIME=0.6

[gcode_macro LEDS_OFF]
gcode:
    STOP_LED_EFFECTS FADETIME=0.6

